#root {
  max-width: 1280px;
  padding: 0;
  margin: 0;
  text-align: center;
}
::-webkit-scrollbar {
  width: 0px;  /* For vertical scrollbars */
  height: 0px; /* For horizontal scrollbars */
  background: transparent; /* make scrollbar transparent */
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
body {
  margin: 0;
  padding: 0;
  background-color: #0e1111;
}
.Container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}
.Section-1{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  
  padding: 0;
  margin: 0;
  
}
.Section-2{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  
  padding: 0;
  margin: 0;
}
.Section-3{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  
  padding: 0;
  margin: 0;
}
.Section-4{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  
  padding: 0;
  margin: 0;
}
.Section-Content{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.section-title{
  font-size:x-large;
  padding: 3px 0;
  margin: 0;
}
.img-1{
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 60vh;
  display: flex;
  padding: 0;
  margin: 0;
}
.Dates{
  display: flex;
  background-color: #0e1111;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 40vh;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin: 0;
}
.About{
  display: flex;
  background-color: #3b444b;
  position: relative;
  max-width: 100%;
  height: 40vh;
  text-align: left;
  
  padding: 0;
  margin: 0;
}
p{
  font-size: large;
  padding: 0;
  margin: 2px;
}
.Music{
  display: flex;
  background-color: cadetblue;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 60vh;
  background-color: #0e1111;
  padding: 0;
  margin: 0;
}
.Links{ 
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 40vh;
  background-color: #232b2b;
  padding: 0;
  margin: 0;

}
.vertical-links li a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
  color: white;
  text-align: left;
}
a:hover{
  color: #3b444b;
}
.img-2{
  display: flex;
  background-color: cadetblue;
  position: relative;
  width: 100%;
  height: 60vh;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  
  padding: 0;
  margin: 0;
}
.img-3{
  display: flex;
  background-color: #0e1111;
  position: relative;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  
}

